{% load static %}
<div class="item">
	<div class="thumb">
		<div class="hover-content">
			<ul>
				<li><a href="{{product.get_absolute_url}}"><i class="fa fa-eye"></i></a></li>
				<li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
				<li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a>
				</li>
			</ul>
		</div>
		<img src="{{product.image.url}}" alt="">
	</div>
	<div class="down-content">
		<h4>{{product.name|default:'Classic Spring'}}</h4>
		<span>${{product.price|default:'120'}}.00</span>
		<ul class="stars">
			<li><i class="fa fa-star"></i></li>
			<li><i class="fa fa-star"></i></li>
			<li><i class="fa fa-star"></i></li>
			<li><i class="fa fa-star"></i></li>
			<li><i class="fa fa-star"></i></li>
		</ul>
	</div>
</div>